<div class="card-login">
    <p-card class="texto" header="Retirar" [style]="{'width': '25rem'}">
        <hr>
        <div class="sueldo">
            <span> Sueldo Disponible{{ usuario?.saldoDisponible }} </span>
        </div>
        <div class="p-card-content">
            <h5>Numero de Su Tarjeta:</h5>
            <input class="inputs" type="text" pInputText > 

            <h5>Cantidad a Retirar:</h5>
            <input class="inputs" type="text" pInputText > 
            <button pButton pRipple type="button" label="Confirmar" class="p-button-success p-button-text boton"></button>
        </div>
    </p-card>
</div>